<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "line-spin-clockwise-fade-rotating" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>
<div id="list-title" class="mb-5 mt-3">
  <h1 class="text-center animate__animated animate__bounceInDown">Articles retirés</h1>
</div>
<div class="container">
  <div class="col-md-12 text-center" id="displayAll">
    <app-article
      *ngFor="let articleEl of retiredArticles | paginate: {
        itemsPerPage: 27,
        currentPage : page,
        totalItems : totalRecords }"
      [myArticle] = "articleEl"
    >
    </app-article>
    <pagination-controls maxSize = "9" directionLinks="true" previousLabel="Previous" nextLabel="Next"  (pageChange)="page = $event"></pagination-controls>
  </div>
</div>
