<h1 class=" text-center mb-5 mt-4">Catégories Lemax</h1>
  <div class="col-md-12">
    <ul id="categories">
      <li class="custom-img text-center"><a routerLink="/articles/lighted-buildings"><img src="assets/images/grand_opera.jpg" alt="Grand Opera House"></a><h3>Maisons</h3></li>
      <li class="custom-img text-center"><a routerLink="/articles/facades"><img src="assets/images/beersmith_facade.jpg" alt="Beersmith facade"></a><h3>Façades</h3></li>
      <li class="custom-img text-center"><a routerLink="/articles/figurines"><img src="assets/images/cafe_society.jpg" alt="Cafe Society"></a><h3>Personnages</h3></li>
      <li class="custom-img text-center"><a routerLink="/articles/accessories"><img src="assets/images/fountain.jpg" alt="Lighted Fountain"></a><h3>Accessoires</h3></li>
      <li class="custom-img text-center"><a routerLink="/articles/animations"><img src="assets/images/ballroom.jpg" alt="Animated Ballroom"></a><h3>Animations</h3></li>
    </ul>
  </div>
