<div class="illustration">
	<div class="i-large"></div>
	<div class="i-medium"></div>
	<div class="i-small"></div>

<div class="content">
   <div class="cat">
     <div class="ears">
       <span></span>
       <span></span>
     </div>
     <div class="eyes">
       <span></span>
       <span></span>
       <span></span>
       <span></span>
     </div>
     <div class="nose">
       <span></span>
       <span></span>
     </div>
     <div class="mouth">3</div>
     <div class="paws">
       <span></span>
       <span></span>
     </div>
     <div class="tail"></div>
   </div>
   <div class="wall text-center">
    <p class="mt-3 404">OOPS, ERREUR 404 :  LA PAGE N'EXISTE PAS !</p>

    <button class="btn-lg btn-info mt-5" (click)="onReturnToHome()">Retourner à l'accueil</button>
  </div>
</div>
</div>



