.content {
  height: 80vh;
  display: flex;
  justify-content: center;
  width: 100%;
  position: absolute;

}

.wall {
  background-color: #d6d6d6;
  width: 500px;
  height: 70px;
  bottom: 30%;
  position: absolute;
  border-radius: 10px;
  z-index: 1;
  font-size: larger;
  font-weight: bold;
}

.wall::before,
.wall::after {
  width: 20px;
  height: 40px;
  left: 20%;
  bottom: -40px;
  background-color: #737373;
  position: absolute;
  content: '';
  border-radius: 0px 0px 20px 20px;
}

.wall::after {
  left: 75%;
}

.cat {
  width: 200px;
  height: 250px;
  background-color: #e4a547;
  border-radius: 100%;
  position: absolute;
  bottom: calc(30% + 20px);
  box-shadow: inset 0px -20px 0px rgba(0, 0, 0, 0.2);
}

.cat::after {
  width: 60%;
  height: 60%;
  left: 20%;
  top: 45%;
  background-color: white;
  position: absolute;
  content: '';
  border-radius: 100%;
  opacity: 0.2;
}

.ears {
  position: relative;
  z-index: -1;
}

.ears span {
  width: 60px;
  height: 60px;
  background-color: #d47151;
  position: absolute;
  top: -5px;
  border: solid 8px #e4a547;
  border-radius: 10px;
}

.ears span:nth-child(1) {
  left: 30px;
  box-shadow: inset 0px 5px 0px rgba(0, 0, 0, 0.1);
  animation: ear1 8s ease infinite;
}

    @keyframes ear1 {
      0%, 80%, 100% { transform: rotate(20deg);}
      90% {transform: rotate(8deg);}
    }

.ears span:nth-child(2) {
  right: 30px;
  box-shadow: inset 0px 5px 0px rgba(0, 0, 0, 0.1);
  animation: ear2 8s ease infinite;
}

    @keyframes ear2 {
      0%, 80%, 100% {transform: rotate(-20deg);}
      90% {transform: rotate(-8deg);}
    }

.eyes span {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 30px;
  border-radius: 100%;
  background-color: white;
}

.eyes span:nth-child(1) {
  left: 50px;
}

.eyes span:nth-child(2) {
  right: 50px;
}

.eyes span:nth-child(1)::after,
.eyes span:nth-child(2)::after {
  width: inherit;
  height: inherit;
  left: 0;
  position: absolute;
  content: '';
  z-index:1;
  border-radius: 100%;
  animation: blink 8s ease-in-out infinite;
}

    @keyframes blink {
      0%, 70% {box-shadow: inset 0px 5px 0px #ce8314;}
      85% {box-shadow: inset 0px 40px 0px #ce8314;}
      100% {box-shadow: inset 0px 5px 0px #ce8314;}
    }

.eyes span:nth-child(3),
.eyes span:nth-child(4) {
  width: 10px;
  height: 10px;
  background-color: black;
  position: absolute;
  box-shadow: none;
  top: 45px;
  left: 65px;
  border-radius: 100%;
}
.eyes span:nth-child(4) {
  left: 125px;
}

.eyes span:nth-child(1)::before {
  left: 35%;
}

.eyes span:nth-child(2)::before {
  right: 35%;
}

.nose {
  width: 0px;
  height: 0px;
  position: absolute;
  top: 70px;
  left: calc(50% - 12px);
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-top: 12px solid #d47151;
  z-index: 1;
  animation: nose 6s ease infinite;
}

    @keyframes nose {
      0%, 80%, 100%{transform: rotate(0deg);}
      85%, 95% {transform: rotate(-2deg);}
      90% {transform: rotate(2deg);}
    }

.nose span {
  width: 120px;
  height: 2px;
  background-color: white;
  position: absolute;
  top: -6px;
  left: -125px;
  border-radius: 5px;
  opacity: 0.2;
  z-index: 0;
}

.nose span:nth-child(2) {
  left: 5px;
}

.nose span::after,
.nose span::before  {
  width: inherit;
  height: inherit;
  content: '';
  position: absolute;
  background-color: inherit;
  top: -10px;
  width: 110px;
  left: 10px;
  border-radius: inherit;
  transform: rotate(10deg);
}

.nose span:nth-child(1)::before {
    transform: rotate(-10deg);
    top: 10px;
    left: 10px;
}

.nose span:nth-child(2)::after{
    top: -10px;
    transform: rotate(-10deg);
    left: 0px;
}

.nose span:nth-child(2)::before {
    top: 10px;
    left: 0px;
}

.mouth {
  font-family: 'Nunito', sans-serif;
  color: #d28422;
  font-size: 30px;
  transform: rotate(90deg);
  top: 72px;
  position: absolute;
  left: calc(50% - 10px);
  letter-spacing: 1px;
  font-weight: 100;
  animation: mouth 6s ease infinite;
}

    @keyframes mouth {
      0%, 80%, 90%, 100%{top: 75px}
      85%, 95% {top: 73px}
    }

.mouth::after {
  width: 2px;
  height: 15px;
  content: '';
  position: absolute;
  background-color: #d28422;
  top: 12px;
  left: -1px;
  transform: rotate(90deg);
}

.paws {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 30px;
  border-radius: 100%;
  z-index: 1;
}

.paws span {
  width: 30px;
  height: 30px;
  background-color: brown;
  position: absolute;
  bottom: -160px;
  border-radius: 100%;
  opacity: 0.3;
  box-shadow: inset 5px 0px 0px rgba(0, 0, 0, 0.5)
}

.paws span:nth-child(1) {
  left: 50px;
}
.paws span:nth-child(2) {
  left: 120px;
}

.tail {
  width: 100px;
  height: 15px;
  position: absolute;
  bottom: 50px;
  border-radius: 30px;
  z-index: 1;
  right: -65px;
  background-color: #e4a547;
  z-index: -1;
  animation: tail 3s ease-in-out infinite alternate;
}
    @keyframes tail {
      0% {right:-65px;}
      50% {transform:rotate(0deg);}
      60% {transform:rotate(-180deg);}
      100% {right:145px; transform:rotate(-180deg);}
    }

.tail::after {
  width: 25%;
  height: inherit;
  content: '';
  position: absolute;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  background-color: white;
  right: 0px;
  opacity: 0.2;
}

.tail::before {
  width: 10%;
  height: inherit;
  content: '';
  position: absolute;
  border-radius: 0px;
  background-color: black;
  right: 25%;
  opacity: 0.1;
}
.illustration {
	position: relative;
	margin: 0 auto;
	width : 1900px;
	height: 900px;

}

.i-large,
.i-medium,
.i-small {
	position : absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  z-index: -1;
}

/* .i-large {
	background: url("https://freepikpsd.com/wp-content/uploads/2019/10/etoile-or-png-6-Transparent-Images.png") repeat 0px 0px;
	-webkit-animation: dropFlowParticles 8s linear infinite;
	     -o-animation: dropFlowParticles 8s linear infinite;
	        animation: dropFlowParticles 8s linear infinite;
}
.i-medium {
	background: url("https://freepikpsd.com/wp-content/uploads/2019/10/etoile-or-png-6-Transparent-Images.png") repeat 0px 0px;
	-webkit-animation: dropFlowParticles 12s linear infinite;
	     -o-animation: dropFlowParticles 12s linear infinite;
	        animation: dropFlowParticles 12s linear infinite;
} */
.i-small {
	background:url("https://assets.stickpng.com/images/580b585b2edbce24c47b2718.png") repeat 0px 0px;
	-webkit-animation: dropFlowParticles 25s linear infinite;
	     -o-animation: dropFlowParticles 25s linear infinite;
	        animation: dropFlowParticles 25s linear infinite;
}

@-webkit-keyframes dropFlowParticles {
	from { background-position: 0 0; }
	to { background-position: 0 413px; }
}
@keyframes dropFlowParticles {
	from { background-position: 0 0; }
	to { background-position: 0 413px; }
}
