<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "line-spin-clockwise-fade-rotating" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>
<div id="list-title" class="mb-5 mt-3" [ngSwitch]=id>
  <h1 class="text-center" *ngSwitchCase="1">Maisons</h1>
  <h1 class="text-center" *ngSwitchCase="2">Façades</h1>
  <h1 class="text-center" *ngSwitchCase="3">Personnages</h1>
  <h1 class="text-center" *ngSwitchCase="4">Accessoires</h1>
  <h1 class="text-center" *ngSwitchCase="5">Animations</h1>

</div>
<div class="container">
  <div class="col-md-12 text-center" id="displayAll">
    <app-article
      *ngFor="let articleEl of articlesOfOneCategory"
      [myArticle] = "articleEl"
    >
    </app-article>
  </div>
</div>



