<div class="col-md-2 page-header animate__animated animate__backInUp" id="header">
  <h2 class="h3 text-center">Collection Lemax de {{ pseudoUser | firstToUpper}}</h2>
  <div class="dropdown-divider"></div>
  <nav class="mt-4 mb-5">
    <ul>
      <li class="db-header"><a class="myButton" [routerLink]= "[1]"><fa-icon [icon]="faHome"></fa-icon>&nbsp;Mes maisons</a></li>
      <li class="db-header"><a class="myButton" [routerLink]= "[2]"><fa-icon [icon]="faBuilding"></fa-icon>&nbsp;Mes façades</a></li>
      <li class="db-header"><a class="myButton" [routerLink]= "[3]"><fa-icon [icon]="faSkating"></fa-icon>&nbsp;Mes personnages</a></li>
      <li class="db-header"><a class="myButton" [routerLink]= "[4]"><fa-icon [icon]="faTree"></fa-icon>&nbsp;Mes accessoires</a></li>
      <li class="db-header"><a class="myButton" [routerLink]= "[5]"><fa-icon [icon]="faBell"></fa-icon>&nbsp;Mes animations</a></li>
      <li class="db-header"><a class="myButton" [routerLink]= "[6]"><fa-icon [icon]="faAward"></fa-icon>&nbsp;Mes articles retirés</a></li>
      <li class="db-header"><a class="myButton"><fa-icon [icon]="faComments"></fa-icon>&nbsp;Commentaires</a></li>
    </ul>
  </nav>
</div>
