<section class="container-fluid" id="dashboardSection">
    <app-dashboard-header></app-dashboard-header>
    <div class="col-md-10 mt-3" id="dashbody">
      <h2 class="animate__animated animate__fadeInTopLeft text-center ">Mon tableau de bord</h2>
      <div class="row justify-content-md-center text-center">
        <div class="col-md-2 tab-content pt-2"><h3 class="h5">Maisons : </h3><p>{{resultArray['house']}}</p></div>
        <div class="col-md-2 tab-content pt-2"><h3 class="h5">Façades : </h3><p>{{resultArray['facade']}}</p></div>
        <div class="col-md-2 tab-content pt-2"><h3 class="h5">Personnages :</h3><p>{{resultArray['folk']}}</p></div>
        <div class="col-md-2 tab-content pt-2"><h3 class="h5">Accessoires :</h3><p>{{resultArray['accessory']}}</p></div>
        <div class="col-md-2 tab-content pt-2"><h3 class="h5">Animations :</h3><p>{{resultArray['animated']}}</p></div>
        <div class="col-md-2 tab-content pt-2"><h3 class="h5">Articles retirés :</h3><p>{{resultArray['retired']}}</p></div>
      </div>
      <div class="global col-md-12">
          <router-outlet></router-outlet>
      </div>

    </div>
</section>



