a{
  color:black;
}

a:hover{
  text-decoration: none;
}
.card{
  width: 22em;
  height: 28em;
  padding-top:1em;
  margin-bottom: 30px;
  transition: all .2s ease-in-out;
  box-shadow: -2px 5px 5px 0px rgba(82,74,74,0.45);
  -webkit-box-shadow: -2px 5px 5px 0px rgba(82,74,74,0.45);
  -moz-box-shadow: -2px 5px 5px 0px rgba(82,74,74,0.45);
}
.card:hover{
  transform: scale(1.1);
  box-shadow: 10px 10px 18px -9px rgba(0,0,0,0.75);
  -webkit-box-shadow: 10px 10px 18px -9px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 18px -9px rgba(0,0,0,0.75);
}
.img-responsive{
  max-width: 15em;
  min-height: 12.5em;
}
hr{
  width: 80%;
  margin: auto;
}
.btn{
  position:absolute;
  bottom: 3%;
  left: 15%;

}
.btn:hover{
  background-color: steelblue;
  border-color: steelblue;
}
