#categories{
  display: flex;
  justify-content: space-around;
}
.custom-img{
    list-style-type: none;
    float: left;
}
.custom-img > a > img{
  border: 3px solid lightgray;
  border-radius: 50%;
  height: 12em;
  width: 12em;
}
#horizontal-li{
  width: 100%;
  margin:auto;
}
#horizontal-li> li{
  float:left !important;
  list-style-type: none;

}
