<a  href="category/{{myArticle.categoryId}}/{{myArticle.sku}}" class="list-group-item clearfix" (click)="onSelected()">
  <div class="pull-left">
    <img [src]="myArticle.imagePath" alt="{{ myArticle.name }}" class="img-responsive" style="max-height: 200px;">
    <hr>
    <h4 class="list-group-item-heading text-center">{{ myArticle.name }}</h4>
    <h5 class="text-center">SKU# {{ myArticle.sku }}</h5>
    <p class="list-group-item-text text-center mb-0">Date de sortie : {{ myArticle.released}}</p>
    <p class="list-group-item-text text-center" *ngIf="myArticle.retired != null">Date de retrait : {{ myArticle.retired}}</p>

  </div>
</a>
