li{
  list-style-type: none;
}
#results{
  display: flex;
  justify-content: space-evenly;
}
.card{
  width: 16rem;
}
.card-text{
  font-weight: bold;
  color:red;
}

#img-container{
  position: relative;
  display: flex;
  justify-content: center;
}

#myimage
{
  width: 45em;
  height: 45em;
}

p{
  margin: 0px 0px 8px 0px;
}
.img-magnifier-glass {
  position: absolute;
  border: 3px solid rgb(165, 42, 42);
  border-radius: 50%;
  cursor: none;
  /*Set the size of the magnifier glass:*/
  width: 250px;
  height: 250px;
}
.go-back, .go-back:hover{
  color: rgb(165, 42, 42);
}

.go-back:hover{
  font-weight: 600;
}
