<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "line-spin-clockwise-fade-rotating" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>
<div class="container">
  <div class="col-md-12">
    <a href="" (click)="goBack()"><fa-icon [icon]="faArrowLeft"></fa-icon> Retourner à la liste</a>
    <h1 class="mt-4 mb-2">{{ selectedArticle.name }}</h1>
    <div class="row flex mb-5">

      <div class="col-md-7" id="img-container">
        <img src="{{selectedArticle.imagePath}}" alt="{{ selectedArticle.name}}" id="myimage">
      </div>

      <div class="offset-1 col-md-4 pt-5">
        <h2>Détails de l'article</h2>
        <h3>SKU#: {{ selectedArticle.sku }}</h3>
        <p>Date de sortie: {{ selectedArticle.released}}</p>
        <p *ngIf="selectedArticle.retired == null">Cet Article est toujours en vente</p>
        <p *ngIf="selectedArticle.retired != null">Article retiré en {{ selectedArticle.retired }}</p>
      </div>
    </div>
    <div id="shops">
      <h3>Vous pouvez trouver "{{selectedArticle.name}}" chez : </h3>
        <div id="results" class="mb-5 mt-5" *ngIf="results">
          <div *ngFor="let result of results">
            <div class="card" *ngIf="result.price != ''">
              <img src="{{ image }}" alt="" class="card-img-top">
              <div class="card-body" >
                <h5 class="card-title">{{ result.name | uppercase}}</h5>
                <p class="card-text">Cet article est vendu au prix de {{ result.price }}</p>
                <a href="{{ result.link }}" class="btn btn-primary" target="_blank">Aller vers la boutique</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
