<nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="nv">
<a class="navbar-brand" href="#"><img id="logo_fan" src="assets/images/logo_lemax.png" alt=""></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#"><fa-icon [icon]="faHome"></fa-icon><span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" routerLinkActive="active" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Catégories
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown" >
          <a class="dropdown-item" [routerLink]= "['category', 1]"><img src="assets/images/grand_opera.jpg" alt="Maisons"> Maisons</a>
          <a class="dropdown-item" [routerLink]= "['category',2]"><img src="assets/images/beersmith_facade.jpg" alt="facades"> Façades</a>
          <a class="dropdown-item" [routerLink]= "['category',3]"><img src="assets/images/cafe_society.jpg" alt="Personnages"> Personnages</a>
          <a class="dropdown-item" [routerLink]= "['category',4]"><img src="assets/images/fountain.jpg" alt="Accessoires">  Accessoires</a>
          <a class="dropdown-item" [routerLink]= "['category',5]"><img src="assets/images/ballroom.jpg" alt="Animations">  Animations</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" routerLink="/articles/retired"><img src="assets/images/retired.png" alt="">  Articles retirés</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/articles/retired">Articles retirés</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkactive="active" routerLink='auth'>S'identifier/Créer un compte</a>
      </li>
    </ul>
    <!--<form class="form-inline my-2 my-lg-0" (ngSubmit)="onSubmit()">
     <input [(ngModel)]="researchItem" name="researchArticle" class="form-control mr-sm-2" placeholder="Rechercher un article" type="search">-->
      <ng-template #content let-c="close" let-d="dismiss">
        <div id="modal">
          <div class="modal-header ml-4">
            <h4 class="modal-title" id="modal-basic-title">Rechercher un article</h4>
            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-group text-center">
                <div class="input-group text-center">
                  <input id="searchedItem"  [formControl]="filter" class="form-control" placeholder="Nom de l'article" type="text">
                </div>
              </div>
            </form>
            <div id="results">
              <app-article
                  *ngFor="let result of filteredResults | async | paginate: {
                  itemsPerPage: 27,
                  currentPage : page,
                  totalItems : totalRecords }"
                  [myArticle] = "result"
              ></app-article>
              <!-- <app-article-search
              *ngFor="let result of filteredResults | async | paginate: {
              itemsPerPage: 27,
              currentPage : page,
              totalItems : totalRecords }"
              [myArticle] = "result"
          ></app-article-search> -->
              <pagination-controls maxSize = "9" directionLinks="true" previousLabel="Previous" nextLabel="Next"  (pageChange)="page = $event"></pagination-controls>
            </div>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-outline-dark" (click)="d('Cross click')">Fermer</button>
          </div>
        </div>
      </ng-template>
      <button class="btn btn-outline-warning my-2 my-sm-0" type="submit" (click)="onSubmit(content)">Rechercher un article</button>
  </div>
</nav>
