.navbar{
  box-shadow: -1px 7px 5px -4px rgba(0,0,0,0.75);
-webkit-box-shadow: -1px 7px 5px -4px rgba(0,0,0,0.75);
-moz-box-shadow: -1px 7px 5px -4px rgba(0,0,0,0.75);
z-index: 1;

}
.dropdown-item{
  font-weight: 500;
}
.dropdown-item:hover{
  background-color: #f0dadb;
}
.dropdown-item > img {
  height: 2em;
  width: 2em;
}
a.nav-link{
  font-weight: 600;
}
a.nav-link:hover{
  color: #ffc107 !important;
}

#logo_fan{
  height: 3em;
  width: 5em;
}
.modal-content,#modal{
  width:80em;
  background-color: #fff;
}
a{
  color:black;
}

a:hover{
  text-decoration: none;

}

#results{
  display: flex;
  flex-wrap: wrap;
  justify-content:space-between;
}

::ng-deep a.list-group-item.clearfix{
  width: 18em!important;
  margin: 2em;
}
::ng-deep img.img-responsive{
  max-width: 16em;
  min-height: 12.5em;
}
.input-group{
  width: 40em;
  margin:auto;
}
.bg-dark{
  background: linear-gradient(to bottom, #770a0a 0%,#5a0808 44%,#460707 100%) !important;
}

